
@{
    ViewBag.Title = "Log In";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<div class="login-box">

    <header class='login-box-header'>
        <h1>Frilansare? <br/> Logga in!</h1>        
    </header>
    

        <form name="login-frilanser">

            <div class="login-input">
                <label for="email">Epostadress</label>
                <br />
                <input type="text" name="epostadress" id="emailaddress" placeholder="exampel@exampel.com" />

                <br />
                <br />

                <label for="password">Lösenord</label>
                <br />
                <input type="password" name="password" id="password" />

                <br />
                <br />

                <p><a class="btn btn-default" @Html.ActionLink("Logga in", "Index", "Profile")</a></p>
            </div>

        </form>


    
</div>