
<h2>@ViewBag.Title Kontakta Oss!</h2>

<address>
    Adress<br />
    Adress<br />
    Adress<br />
</address>

<address>
    <strong>Kundservice:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
  
</address>