

<div class="jumbotron">
    <h1>Välkomen till den bästa networking webbsida som finns på nätet idag.</h1>
    <p class="lead">
        Syftet med webbplatsen är att
        underlätta arbetet att anställa ny personal. Det ska vara snabbt och enkelt för en kund att möta och
        jobba med talanger inom olika kompetensområden.
        <br />
        <br />
        Som frilansare ska man
        kunna lägga till sitt CV i systemet, och som kund ska man kunna söka bland dessa utifrån olika
        parametrar och välja de talanger som man vill intervjua/träffa.
    </p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Är du en frilansare? </h2>
        <p>
            Här ska du klicka att logga in till dina sidor!
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Login", "LogInFrilanser", "LogInFrilanser")</a></p>
    </div>
    <div class="col-md-6">
        <h2>Är du en kund till oss?</h2>
        <p>Här ska du logga in att ändra din profil och att hitta nya talangar till ditt företag!</p>
        <p><a class="btn btn-default" @Html.ActionLink("Login", "Index", "Login")</a></p>
    </div>
    
</div>