
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h1>Browse Freelancers</h1>

<div class="searchbar">
    <input type="text" placeholder="Search..">
    <input type="submit" name?="" value="Search">
</div>

<div id="FrontEndSkills-selector" class="FrontEndSkills-section">
    <h5 class="FrontEndSkills-heading">Vanligt inom Frontend</h5>
    <ul>
        <li>
            <input data-item="HTML" class="Checkbox-input" type="checkbox" name="skill-set">
            <label class="Checkbox-label" for="job-search-selector-Kompetenser-HTML">HTML</label>
        </li>

        <li>
            <input data-item="CSS" class="Checkbox-input" type="checkbox" name="skill-set">
            <label class="Checkbox-label" for="job-search-selector-Kompetenser-CSS">CSS</label>
        </li>

        <li>
            <input data-item="Jscript" class="Checkbox-input" type="checkbox" name="skill-set">
            <label class="Checkbox-label" for="job-search-selector-Kompetenser-Jscript">Jscript</label>
        </li>
    </ul>


</div>

<div id="BackEndSkills-selector" class="BackEndSkills-section">
    <h5 class="BackEndSkills-heading">Vanligt inom Backend</h5>
    <ul>
        <li>
            <input data-item="C#" class="Checkbox-input" type="checkbox" name="skill-set">
            <label class="Checkbox-label" for="job-search-selector-Kompetenser-C#">C#</label>
        </li>

        <li>
            <input data-item="C" class="Checkbox-input" type="checkbox" name="skill-set">
            <label class="Checkbox-label" for="job-search-selector-Kompetenser-C">C</label>
        </li>

        <li>
            <input data-item="Java" class="Checkbox-input" type="checkbox" name="skill-set">
            <label class="Checkbox-label" for="job-search-selector-Kompetenser-Java">Java</label>
        </li>
    </ul>


</div>