@model IEnumerable<WebApplication1.Models.PersonalInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Välkommen till ditt Konto, Alex</h2>

<p>
    Sugen att uppdatera dina kontaktuppgifter?
    @Html.ActionLink("Dina kontaktuppgifter", "/Details/1")
    <br />
    Eller vill du skapa eller uppdatera ditt CV? Då ska du klicka här istället
    @Html.ActionLink("Din CV", "/Details/1",  "ProfileCV" )
</p>

<div class="dropdown">
    <button class="dropbtn">Dina Sidor</button>
    <div class="dropdown-content">
        <a href="/Profile/Index">Din Hemsida</a>
        <a href="/ProfileCV/Details/1">Din Profile</a>
        <a href="/CVBody/Details/2">Generall Information om Dig</a>
        <a href="/Educations">Utbildningar</a>
        <a href="/EmploymentHistories">Career</a>
        <a href="/Languages/Details/1">Språk</a>
        <a href="/Knowledges/Details/2">Kompetens</a>
        <a href="/FrontEndSkills/Edit/2">Front End</a>
        <a href="/BackEndSkills/Edit/2">Back End</a>
    </div>
</div>