@model IEnumerable<WebApplication1.Models.PersonalInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Välkommen till ditt Konto, Alex</h2>

<p>    
    Sugen att uppdatera dina kontaktuppgifter? 
    @Html.ActionLink("Dina kontaktuppgifter","/Details/1")

    Eller vill du skapa eller uppdatera din CV? Då ska du klicka här istället
    @Html.ActionLink("","")
</p>

