@model IEnumerable<WebApplication1.Models.PersonalInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Välkommen till ditt Konto, Alex</h2>

<p>    
    @Html.ActionLink("Dina kontaktuppgifter","/Details/1")
</p>

