@model IEnumerable<WebApplication1.Models.PersonalInformation>

@{
    ViewBag.Title = "Ditt Konto";
}

<h2>Välkommen till ditt konto, Alex</h2>

<p>
    Sugen att uppdatera dina kontaktuppgifter?
    <p><a class="btn btn-default" @Html.ActionLink("Dina kontaktuppgifter", "/Details/1")</a></p>
    <br />
    Eller vill du skapa eller uppdatera ditt CV? Då ska du klicka här istället
    <p><a class="btn btn-default" @Html.ActionLink("Ditt CV", "/Details/1", "ProfileCV")</a></p>
</p>

    <div class="dropdown">
        <button class="dropbtn">Dina Sidor</button>
        <div class="dropdown-content">
            <a href="/Profile/Index">Din Hemsida</a>
            <a href="/ProfileCV/Details/1">Din Profil</a>
            <a href="/CVBody/Details/2">Mer Information om Dig</a>
            <a href="/Educations">Utbildningar</a>
            <a href="/EmploymentHistories">Karriär</a>
            <a href="/Languages/Details/1">Språk</a>
            <a href="/Knowledges/Details/2">Kompetens</a>
            <a href="/FrontEndSkills/Edit/2">Front End</a>
            <a href="/BackEndSkills/Edit/2">Back End</a>
        </div>
    </div>